[jin-bench-case]{
	display: flex;
	flex-direction: column;
	flex-align: stretch;
	flex: 1;
}

[jin-bench-case-title]{
	line-height: 1.5em;
	font-family: monospace;
	white-space: pre;
	margin: .5em;
	min-width: 10em;
	display: flex;
}

[jin-bench-case-code]{
	line-height: 1.5em;
	font-family: monospace;
	white-space: pre;
	margin: .5em;
	min-width: 10em;
	flex: 1;
	display: flex;
}

[jin-bench-case-measure] {
	padding: 0 .2em;
	margin: .5em;
	text-align: right;
	font-weight: bold;
	position: relative;
	background: #f6f6f6;
	z-index: 0;
}

[jin-field-label][jin-view2-focused]:before,
[jin-field-label]:hover:before {
	top: -2em;
	opacity: 1;
}
